<font size="7"
          face="Georgia  "
          color="RED">
          NETFLIX:
    </font>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

<font size="6"
          face="Georgia  "
          color="RED">
          Data cleaning checklist!
    </font>

1. Import Data & Review <input type="checkbox" >
2. Header Formatting    <input type="checkbox" >
3. Change Datatypes  <input type="checkbox" >
4. Remove or Update Columns & Rows  <input type="checkbox" >
6. Deal with Null Values  <input type="checkbox" >
7. Deal with Categorical Data  <input type="checkbox" >
8. Deal with Outliers  <input type="checkbox" >

In [63]:
df = pd.read_csv("netflix.csv")

In [64]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [65]:
df.shape

(8807, 12)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [67]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

<font size="6"
          face="Georgia  "
          color="RED">
          Change DataType!
    </font>

In [9]:
#Cinverting data added colum to datetime format:

df["date_added"] = pd.to_datetime(df["date_added"])

In [10]:
df["duration"] =   df["duration"].str.split(" ").str[0]

In [11]:
# This step is done after removing object and just keeping number in duration column.

df["duration"] = pd.to_numeric(df["duration"])

In [71]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

.
<h1 style = "font-family:serif;">Task 4: </h1> 

<h2 style = "font-family:serif;"> Remove / Update columns & rows </h2>

.

In [12]:
# Delete description & show_id column

df.drop(columns= ["description" , 'show_id'], inplace= True)

In [72]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

.
<h1 style = "font-family:serif;">Task 5: </h1>

<h1 style = "font-family:serif;"> Deal with null values</h1>

Missing data is disappointing because it feels like a missed opportunity. If the evidence is there to support it, you can salvage null values by transforming them into zeros or another value based on the other values in the column. But in most cases, it will be impossible to tell what the value should have been and you will need to remove the entire row. With large datasets, you should expect to remove rows with missing data so you can take advantage of the predictive power of each feature.

.

In [73]:
# Find how many null values are ther in a column

df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [74]:
# Find total number of null values in the datafram.

df.isna().sum().sum()

4307

In [16]:
# Find what percentage of null values are there in a column with respect to DataFrame


round(df.isna().sum() / len(df) * 100 ,2)

type             0.00
title            0.00
director        29.91
cast             9.37
country          9.44
date_added       0.11
release_year     0.00
rating           0.05
duration         0.03
listed_in        0.00
dtype: float64

.
<h2 style = "font-family:serif;"> Filling NaN rows:</h2>

.

In [75]:
df["director"].fillna("Unknown" , inplace= True)

In [76]:
df["cast"].fillna("Unknown" , inplace= True)

In [77]:
df["country"].fillna("Unknown" , inplace= True)

In [78]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [79]:
df.drop(df.loc[df["duration"].isna()].index, inplace=True)

In [80]:
df.drop(df.loc[df["rating"].isna()].index, inplace=True)

In [83]:
df.drop(df.loc[df["date_added"].isna()].index, inplace=True)

In [82]:
df.drop(df.loc[df["country"].isna()].index, inplace=True)

In [84]:
np.round(df.isna().sum() / len(df) * 100 , 2)

show_id         0.0
type            0.0
title           0.0
director        0.0
cast            0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in       0.0
description     0.0
dtype: float64

<h1 style = "font-family:serif;">Task 6: </h1>

<h1 style = "font-family:serif;"> Deal with nested Data </h1>

Nested values in a column can create problems to get accurate results. To avoid this we need to split.


<h2 style = "font-family:serif;">Working with nested "Cast" columns </h2>

In [26]:
split_and_stacked_cast = pd.DataFrame(df["cast"].apply(lambda x : str(x).split(", ")).tolist() , 
                             index= df["title"]
                            ).stack().to_frame().reset_index().drop(columns= "level_1").rename(columns = {0 :"actors"})

In [27]:
split_and_stacked_cast

                      title                 actors
0      Dick Johnson Is Dead                Unknown
1             Blood & Water             Ama Qamata
2             Blood & Water            Khosi Ngema
3             Blood & Water          Gail Mabalane
4             Blood & Water         Thabang Molaba
...                     ...                    ...
64836                Zubaan       Manish Chaudhary
64837                Zubaan           Meghna Malik
64838                Zubaan          Malkeet Rauni
64839                Zubaan         Anita Shabdish
64840                Zubaan  Chittaranjan Tripathy

[64841 rows x 2 columns]


<h2 style = "font-family:serif;">Working with nested "Director" column </h2>

In [28]:
split_and_stacked_director = pd.DataFrame(df["director"].apply(lambda x : str(x).split(", ")).tolist() , 
                             index= df["title"]
                            ).stack().to_frame().reset_index().drop(columns= "level_1").rename(columns = {0 : "directors"})

In [29]:
split_and_stacked_director.head(10)

                              title        directors
0              Dick Johnson Is Dead  Kirsten Johnson
1                     Blood & Water          Unknown
2                         Ganglands  Julien Leclercq
3             Jailbirds New Orleans          Unknown
4                      Kota Factory          Unknown
5                     Midnight Mass    Mike Flanagan
6  My Little Pony: A New Generation    Robert Cullen
7  My Little Pony: A New Generation   José Luis Ucha
8                           Sankofa     Haile Gerima
9     The Great British Baking Show  Andy Devonshire

<h2 style = "font-family:serif;">Working with nested "Country" column </h2>

In [30]:
split_and_stacked_country = pd.DataFrame(df["country"].apply(lambda x : str(x).split(", ")).tolist() , 
                             index= df["title"]
                            ).stack().to_frame().reset_index().drop(columns= "level_1").rename(columns = {0 : "countries"})

In [31]:
split_and_stacked_country.head(10)

                              title      countries
0              Dick Johnson Is Dead  United States
1                     Blood & Water   South Africa
2                         Ganglands        Unknown
3             Jailbirds New Orleans        Unknown
4                      Kota Factory          India
5                     Midnight Mass        Unknown
6  My Little Pony: A New Generation        Unknown
7                           Sankofa  United States
8                           Sankofa          Ghana
9                           Sankofa   Burkina Faso


<h2 style = "font-family:serif;">Working with nested "Listed In" column </h2>

In [40]:
split_and_stacked_listedIn = pd.DataFrame(df["listed_in"].apply(lambda x : str(x).split(", ")).tolist() , 
                             index= df["title"]
                            ).stack().to_frame().reset_index().drop(columns= "level_1").rename(columns = {0 : "listed_in_"})

In [41]:
split_and_stacked_listedIn.head(10)

                   title              listed_in_
0   Dick Johnson Is Dead           Documentaries
1          Blood & Water  International TV Shows
2          Blood & Water               TV Dramas
3          Blood & Water            TV Mysteries
4              Ganglands          Crime TV Shows
5              Ganglands  International TV Shows
6              Ganglands   TV Action & Adventure
7  Jailbirds New Orleans              Docuseries
8  Jailbirds New Orleans              Reality TV
9           Kota Factory  International TV Shows


<h2 style = "font-family:serif;"> Merging ( split_and_stacked_country , split_and_stacked_director , split_and_stacked_acst, split_and_stacked_listedIn)  in the real DataFrame</h2>

In [42]:
df_new = df.merge(split_and_stacked_cast ,
         on= "title").merge(split_and_stacked_country ,
         on="title").merge(split_and_stacked_director , on= "title"
                          ).merge(split_and_stacked_listedIn, on= "title"
                                 ).drop(columns= ["cast", "country" , "director", "listed_in"])

In [43]:
df_new.head(10)

,type,title,date_added,release_year,rating,duration,actors,countries,directors,listed_in_
0,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,90,Unknown,United States,Kirsten Johnson,Documentaries
1,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Ama Qamata,South Africa,Unknown,International TV Shows
2,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Ama Qamata,South Africa,Unknown,TV Dramas
3,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Ama Qamata,South Africa,Unknown,TV Mysteries
4,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Khosi Ngema,South Africa,Unknown,International TV Shows
5,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Khosi Ngema,South Africa,Unknown,TV Dramas
6,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Khosi Ngema,South Africa,Unknown,TV Mysteries
7,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Gail Mabalane,South Africa,Unknown,International TV Shows
8,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Gail Mabalane,South Africa,Unknown,TV Dramas
9,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Gail Mabalane,South Africa,Unknown,TV Mysteries

In [44]:
df_new = df_new.replace("nan" , np.nan)

In [45]:
# Changing position of some columns:

df_new = df_new.loc[: ,[ 'type', 'title' , 'directors', 'actors', 'countries' ,'date_added', 'release_year', 'rating', 'duration','listed_in_']]

In [46]:
# Modifying name of some columns

df_new = df_new.rename(columns = {"directors" : "director" , "countries" : "country"} )

In [51]:
df_new.head(10)

,type,title,director,actors,country,date_added,release_year,rating,duration,listed_in_
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90,Documentaries
1,TV Show,Blood & Water,Unknown,Ama Qamata,South Africa,2021-09-24,2021,TV-MA,2,International TV Shows
2,TV Show,Blood & Water,Unknown,Ama Qamata,South Africa,2021-09-24,2021,TV-MA,2,TV Dramas
3,TV Show,Blood & Water,Unknown,Ama Qamata,South Africa,2021-09-24,2021,TV-MA,2,TV Mysteries
4,TV Show,Blood & Water,Unknown,Khosi Ngema,South Africa,2021-09-24,2021,TV-MA,2,International TV Shows
5,TV Show,Blood & Water,Unknown,Khosi Ngema,South Africa,2021-09-24,2021,TV-MA,2,TV Dramas
6,TV Show,Blood & Water,Unknown,Khosi Ngema,South Africa,2021-09-24,2021,TV-MA,2,TV Mysteries
7,TV Show,Blood & Water,Unknown,Gail Mabalane,South Africa,2021-09-24,2021,TV-MA,2,International TV Shows
8,TV Show,Blood & Water,Unknown,Gail Mabalane,South Africa,2021-09-24,2021,TV-MA,2,TV Dramas
9,TV Show,Blood & Water,Unknown,Gail Mabalane,South Africa,2021-09-24,2021,TV-MA,2,TV Mysteries

In [52]:
df_new.shape

(201763, 10)

In [54]:
df_new.columns

Index(['type', 'title', 'director', 'actors', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in_'],
      dtype='object')

In [56]:
np.round(df_new.isna().sum() / len(df_new) * 100, 2)

type            0.0
title           0.0
director        0.0
actors          0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in_      0.0
dtype: float64

In [85]:
df_new["rating"].value_counts()

TV-MA       73835
TV-14       43859
R           25860
PG-13       16246
TV-PG       14913
PG          10919
TV-Y7        6294
TV-Y         3664
TV-G         2779
NR           1543
G            1530
NC-17         149
TV-Y7-FV       86
UR             86
Name: rating, dtype: int64

In [86]:
#Checking Unique Values In Each Column

for i in df_new.columns:
    print(i ,": " ,df_new[i].nunique())

type :  2
title :  8790
director :  4992
actors :  36393
country :  128
date_added :  1713
release_year :  74
rating :  14
duration :  210
listed_in_ :  42

In [108]:
df_new.to_excel("Netflix.xlsx", index=False)